@media (min-width: @desktop-width) {
  .body__wrapper {
    max-width: 100%;

    background-image: url("../img/index-background-desktop.jpg");
    background-position: top;
    background-position-x: 649px;
    background-repeat: no-repeat;
    background-size: 720px 696px;
  }
}
