.example {
  width: 100%;
  min-height: 705px;
  margin: 0;
  padding: 0;

  background-color: @block-background-color;
}

.example__title {
	font-size:36px;
	font-weight: 400;
	line-height: 60px;
	color: @color-title;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: @font;
  color: @color-text;
}

.example__weight-kg{
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @color-title;
}

.example__weight-text {
  font-size: 12px;
  line-height: 12px;
  font-family: @font;
  color: @color-text;
}

.example__period-days {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @color-title;
}

.example__period-text {
  font-size: 12px;
  line-height: 12px;
  font-family: @font;
  color: @color-text;
}

.example__all-cost {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;
}

.example__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @link-color-text;
}
