.example {
  max-width: 100%;
  margin: 0;
  padding: 17px 0 31px;
  box-sizing: border-box;

  background-color: @block-background-color;
}

.example__title-wrapper {
  margin: 0;
  padding: 0;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 6.2%;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @color-title;
}

.example__text-wrapper {
  margin: 0 6.2% 34px;
}

.example__text {
  margin: 0 14px 1px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: @font;
  color: @color-text;
}

.example__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.example__item {
  position: relative;

  margin-top: 24px;
  margin-bottom: 24px;

  list-style: none;
}

.example__value {
  width: 124px;
  min-height: 56px;
  margin: 0;
  padding-top: 13px;
  box-sizing: border-box;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: @color-title;

  border: 1px solid @border-color;
}

.example__description {
  width: 70px;
  margin: 0 auto;

  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  font-family: @font;
  text-align: center;
  text-transform: lowercase;
  color: @color-text;
}

.example__description-wrapper {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  width: 87px;

  background-color: @block-background-color;
}

.example__all-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.example__all {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;
}

.example__all-text {
  margin-right: 3px;
}

.example__cat-wrapper {
  max-width: 100%;
}

.example__cat {
  margin: 0;
}

.example__image-wrapper {
  margin: 0;
}

.example__cat-image {
  display: block;
  width: 320px;
  height: 240px;
  margin: 0 auto;
}

.example__cat-image--close {
  display: none;
}

.example__block-button {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-top: 31px;
  padding-right: 53px;
  padding-left: 57px;
}

.example__link {
  padding-bottom: 5px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
  color: @link-color-text;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
}

.example__link:hover,
.example__link:focus {
  border-bottom: 1px solid rgba(17, 17, 17, 0.4);
}

.example__link:active {
  border-bottom: none;
}

.example__toggle {
  position: relative;
  width: 84px;
  height: 14px;
  margin-top: 4px;
  box-sizing: border-box;

  background-color: #ffffff;
  border: 1px solid @border-color;
  border-radius: 6px;
}

.example__toggle::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 3px;
  left: 6px;

  width: 35px;
  height: 6px;

  background-color: @button-background-color;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .example {
    padding: 0;
    padding-top: 43px;

    background-color: @background-color;
    border-top: 1px solid @border-color-catalog;
  }

  .example__title {
    margin-left: 3.95%;
    margin-bottom: 64px;

    font-size: 60px;
  }

  .example__text-wrapper {
    margin: 0 30px 191px 30px;
  }

  .example__text {
    margin: 0 30px 29px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__list-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    margin-bottom: 40px;
  }

  .example__item-weight {
    margin-right: 42px;
  }

  .example__value {
    width: 162px;
    min-height: 72px;
    padding-top: 15px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    width: 100px;


    font-size: 14px;
    line-height: 14px;
  }

  .example__description-days {
    width: 129px;
  }

  .example__description-wrapper {
    bottom: -5px;

    width: auto;

    padding-right: 9px;
    padding-left: 8px;

    background-color: @background-color;
  }

  .example__all-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .example__all {


    font-size: 20px;
    text-align: right;
  }

  .example__all-text {
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .example__cat-wrapper {
    position: relative;

    max-width: 100%;
    height: 462px;

    background-color: @background-color-cat;
    background-image: linear-gradient(to right, @link-background-color 50%, @background-color-cat 50%);
  }

  .example__image-wrapper--before {
    position: absolute;
    content: "";
    z-index: 2;
    top: -170px;
    right: 50%;
    transform: translate(0%);

    display: block;

    width: 338px;
    height: 517px;

    overflow: hidden;
  }

  .example__cat-image--close {
    display: block;
  }

  .example__image-wrapper--after {
    position: absolute;
    content: "";
    z-index: 1;
    top: -170px;
    right: 50%;
    transform: translate(352px);

    width: 690px;
    height: 517px;
    clip: rect(0 690px 517px 338px);

    overflow: hidden;
  }

  .example__cat-image {
    width: 690px;
    height: 517px;
  }

  .example__cat-image--after {
    display: block;
  }

  .example__block-button {
    padding: 0;
    padding-top: 368px;
    padding-right: 100px;
    padding-left: 99px;
  }

  .example__link {
    padding: 0;

    font-size: 20px;
  }

  .example__toggle {
    width: 428px;
    height: 6px;
    margin-top: 7px;

    background-color: @border-color;
  }

  .example__toggle::before {
    position: absolute;
    content: "";
    top: -16px;
    left: 50%;
    transform: translate(-16px);

    width: 34px;
    height: 34px;

    background-color: @background-color;
    border: 1px solid @border-color;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .example__toggle:hover::before,
  .example__toggle:focus::before {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .example__toggle:active::before {
    border: 2px solid @border-color-decor;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .example__toggle::after {
    top: -2px;
    left: 50%;
    transform: translate(-2px);

    width: 8px;
    height: 8px;

    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin: 0;
    padding: 0;

    background-color: @link-background-color;
    border-top: none;
  }

  .example__background {
    background-image: linear-gradient(to right, @link-background-color 50%, @background-color-cat 50%);
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }

  .example__title-wrapper {
    max-width: 100%;
    background-color: @background-color;
  }

  .example__title {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 75px;
    box-sizing: border-box;

    background-color: #ffffff;
  }

  .example__text-wrapper {
    margin: 0;
    margin-left: 40px;
    padding-top: 72px;
  }

  .example__text {
    width: 435px;
    margin-bottom: 43px;
  }

  .example__list-wrapper {
    display: block;
  }

  .example__list {
    justify-content: flex-start;

    margin-bottom: 36px;
  }

  .example__description-wrapper {
    background-color: @link-background-color;
  }

  .example__item-weight {
    margin-right: 42px;
  }

  .example__all-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .example__all {
    margin: 0;
  }

  .example__all-text {
    margin-right: 64px;
  }

  .example__cat-wrapper {
    position: relative;

    width: 654px;
  }

  .example__image-wrapper--before {
    top: -190px;
    transform: translate(3px);

    width: 366px;
  }

  .example__image-wrapper--after {
    top: -190px;
    transform: translate(306px);

    width: 670px;

    clip: rect(0 690px 517px 365px);
  }

  .example__block-button {
    padding: 0;
    padding-top: 368px;
    padding-right: 40px;
    padding-left: 43px;
  }
}
