.instructions__header {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @color-title;
}

.instructions__list {
  margin: 0;
  padding: 0;
  border: 0;
}

.instructions__item {
  list-style: none;
}

.instructions__text {
  width: 200px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font;
  color: @color-text;
}

@media (min-width: @tablet-width) {
  .instructions__header {
    font-size: 60px;
  }

  .instructions__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding-left: 30px;
  }

  .instructions__item {
    margin-right: 160px;
  }

  .instructions__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .instructions__list {
    padding: 0 110px;
  }

  .instructions__item {
    margin-right: 30px;
  }
}
