.button {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  min-height: 40px;

  text-transform: uppercase;
  color: @button-color-text;

  background-color: @button-background-color;
}

@media (min-width: @tablet-width) {
  .button {
    width: 249px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 169px;
  }
}
