.page-main {
  margin: 0;
  padding: 0;
}

.page-main__catalog-header {
  width: 320px;
  margin: 0 auto;
}

.page-main__catalog-title {
  margin: 15px 0 28px 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @color-title;
}

.page-main__form-title {
  margin: 0;
  margin-top: 16px;
  margin-left: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @color-title;
}

@media (min-width: @tablet-width) {
  .page-main__catalog {
    border: none;
  }

  .page-main__catalog-header {
    width: 708px;
  }

  .page-main__catalog-title {
    margin: 0;
    margin-top: 41px;

    font-size: 60px;
  }

  .page-main__form-title {
    margin: 41px 0 25px 29px;

    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__catalog {
    max-width: 100%;
  }

  .page-main__catalog-header {
    width: 1220px;
    margin: 0 auto;
  }

  .page-main__catalog-title {
    margin: 0;
    margin-top: 75px;
  }

  .page-main__form {
    padding-top: 1px;
  }

  .page-main__form-header {
    width: 1280px;
    margin: 0 auto;
  }

  .page-main__form-title {
    margin-top: 74px;
    margin-left: 30px;
  }
}
