body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  border: none;

  font-family: @font-family;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  background-color: @background-color;
}

a {
  text-decoration: none;
}

li {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
