@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
}

@import "variables.less";
@import "shared-file.less";
@import "page-main.less";
@import "button.less";

/* Шапка сайта */
@import "header/page-header.less";
@import "header/header-nav.less";
@import "header/main-nav.less";

/* Главная страница,index.html */
@import "program/programs.less";
@import "program/instructions.less";
@import "program/example.less";
@import "program/body.less";

/* Каталог,catalog.html */
@import "catalog/product-description.less";
@import "catalog/base-directory.less";
@import "catalog/catalog-all.less";
@import "catalog/additional-goods.less";

/* Форма, form.html */
@import "form/questionnaire.less";
@import "form/form.less";

/* Подвал сайта */
@import "footer/page-footer.less";
