
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
}

body {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-family: "Oswald", "Arial", sans-serif;
  font-stretch: normal;
  letter-spacing: normal;

  background-color: #ffffff;
  /* Для разработки кода */
  border: 1px solid #000000;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  min-height: 40px;

  text-transform: uppercase;
  color: #ffffff;

  background-color: #68b738;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка сайта */
@import "page-header.less";

/* Главная страница,index.html */
@import "programs.less";
@import "instructions.less";

/* Каталог,catalog.html */
.page-main__header {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}

@import "base-directory.less";

/* Форма, form.html */

/* Подвал сайта */
@import "page-footer.less";

