@font-family: "Oswald", "Arial", sans-serif;
@font: "Arial", sans-serif;
@color-title: #111111;
@color-text: #444444;
@color-text-active: rgba(255, 255, 255, 0.3);
@button-color-text: #ffffff;
@button-color-border: #bababa;
@light-color-text: #ffffff;
@link-color-text: #111111;
@nav-color-text: #222222;
@programs-color-text: #000000;
@catalog-color-text: #222222;
@label-color-text: #222222;
@button-background-color: #68b738;
@button-background-hover: #5eaa2f;
@block-background-color: #f2f2f2;
@alternative-background-color: #63a73a;
@background-color: #ffffff;
@background-color-hover: #ebebeb;
@background-color-cat: #eaeaea;
@link-background-color: #f2f2f2;
@border-color: #cdcdcd;
@border-color-catalog: #ededed;
@border-color-active: #444444;
@border-color-error: #ff8282;
@border-color-decor: #68b738;
@boder-color-decor2: rgba(0, 0, 0, 0.1);
@footer-button-hover: #68b738;
@footer-button-active: #f2f2f2;
@icon-fill-active: #68b738;
@tablet-width: 768px;
@desktop-width: 1300px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
