@font-family: "Oswald", "Arial", sans-serif;
@font: "Arial", sans-serif;
@color-title: #111111;
@color-text: #444444;
@button-color-text: #ffffff;
@light-color-text: #ffffff;
@link-color-text: #111111;
@nav-color-text: #222222;
@programs-color-text: #000000;
@catalog-color-text: #222222;
@label-color-text: #222222;
@button-background-color: #68b738;
@block-background-color: #f2f2f2;
@alternative-background-color: #63a73a;
@background-color: #ffffff;
@link-background-color: #f2f2f2;
@border-color: #f2f2f2;
@tablet-width: 768px;
/* 1300 стоит временно для напиcания кода, по окончании замена на 1440px */
@desktop-width: 1300px;
