.additional-goods__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @color-title;
}

.additional-goods__item {
  list-style: none;
}

.additional-product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @catalog-color-text;
}

.additional-product__specifications {
  font-size: 14px;
  line-height: 14px;
  font-family: @font;
  color: @color-text;
}

.additional-product__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.additional-goods__text {
  width: 280px;
  height: 289px;

  background-color: @alternative-background-color;
  background-image: url("../gift-img/photo-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.additional-goods__text-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: @font;
  color: @light-color-text;
}
