.additional-goods {
  padding: 0 20px;
}

.additional-goods__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @color-title;
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  border: none;
}

.additional-goods__item {
  list-style: none;
}

.additional-goods__text {

  width: 100%;
  height: 289px;

  background-color: @alternative-background-color;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 280px 289px;
}

.additional-goods__text-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: @font;
  color: @light-color-text;
}

@media (min-width: @tablet-width) {
  .additional-goods__item {
    padding: 0 37px 0 38px;
  }

  .additional-goods__text {
    width: 100%;
    height: 200px;

    background-image: url("../img/gift-photo-tablet.jpg");
    background-size: 708px 200px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__item {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .additional-goods__text {
    width: 245px;
    min-height: 289px;

    background-image: url("../img/gift-photo-desktop.jpg");
    background-size: 245px 289px;
  }
}
