.base-directory__list {
  margin: 0;
  padding: 0;
  border: 1px solid @border-color-catalog;
}

.base-directory__item {
  position: relative;

  width: 320px;
  min-height: 209px;
  margin: 0;
  padding: 0 20px;

  list-style: none;

  border-bottom: 1px solid @border-color-catalog;
}

.base-directory__item-description {
  flex-grow: 1;
}

.base-directory__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.base-directory__item-all {
  padding: 80px 20px 24px;

  list-style: none;
}

.base-directory__link {
  margin: 0;
  padding-top: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.base-directory__item-image {
  display: block;
}

@media (min-width: @tablet-width) {
  .base-directory__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-top: 25px;

    border: none;
  }

  .base-directory__item {
    width: 324px;
    min-height: 431px;
    margin: 0;
    margin-top: 140px;
    padding: 0;
    padding-top: 164px;

    background-color: @block-background-color;
  }

  .base-directory__item-all {
    width: 324px;
    min-height: 431px;
    margin-top: 140px;
    padding-top: 164px;
    box-sizing: border-box;
    border: 1px solid @border-color;
  }

  .base-directory__product-small {
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }

  .base-directory__product-big {
    position: absolute;
    top: -82px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }

  .base-directory__image-small {
    width: 324px;
    height: 172px;
  }

  .base-directory__image-big {
    width: 324px;
    height: 208px;
  }

  .base-directory__link {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .base-directory__item {
    width: 245px;
  }

  .base-directory__item-all {
    width: 245px;
    min-height: 431px;
  }
}
