.base-directory {
  max-width: 100%;
  margin: 0;
}

.base-directory__list {
  margin: 0;
  padding: 0;
  border: 1px solid @border-color-catalog;
}

.base-directory__item {
  position: relative;

  min-height: 209px;
  margin: 0;
  padding: 0 19px;

  list-style: none;

  border-bottom: 1px solid @border-color-catalog;
}

.base-directory__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.base-directory__product-small,
.base-directory__product-big {
  flex-grow: 1;
}

.base-directory__item-description {
  flex-grow: 1;
}

.base-directory__item-all {
  padding: 80px 20px 23px;

  list-style: none;
}

.base-directory__link {
  width: 100%;
  padding-top: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.base-directory__item-image {
  display: block;
}

@media (min-width: @tablet-width) {
  .base-directory {
    max-width: 100%;
  }

  .base-directory__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0;
    padding-top: 25px;

    border: none;
  }

  .base-directory__item {
    flex-grow: 1;

    width: 42.18%;
    min-height: 431px;
    margin: 0;
    margin-top: 140px;
    margin-right: 3.9%;
    margin-left: 3.9%;
    padding: 162px 37px 0;

    background-color: @block-background-color;
  }

  .base-directory__item-all {
    flex-grow: 1;

    width: 42.18%;
    min-height: 431px;
    margin-top: 140px;
    margin-right: 3.9%;
    margin-left: 3.9%;
    padding: 164px 37px 0;
    box-sizing: border-box;
    border: 1px solid @border-color;
  }

  .base-directory__product-small {
    position: absolute;
    top: -46px;
    right: 50%;
    transform: translate(50%);
    z-index: 1;
  }

  .base-directory__product-big {
    position: absolute;
    top: -82px;
    right: 50%;
    transform: translate(50%);
    z-index: 1;
  }

  .base-directory__image-small {
    width: 324px;
    height: 172px;
  }

  .base-directory__image-big {
    width: 324px;
    height: 208px;
  }

  .base-directory__link {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .base-directory__list {
    justify-content: space-between;

    max-width: 1300px;
    margin: 0 auto;
    padding: 22px 16px 0 40px;
  }

  .base-directory__item {
    flex-grow: 0;

    width: 245px;
    margin-top: 143px;
    margin-right: 24px;
    margin-left: 0;
    padding-right: 38px;
    padding-left: 38px;
  }

  .base-directory__item-all {
    flex-grow: 0;

    width: 245px;
    margin-right: 24px;
    margin-left: 0;
    padding-top: 165px;
  }

  .base-directory__image-small {
    width: 245px;
    height: 172px;
  }

  .base-directory__image-big {
    width: 245px;
    height: 208px;
  }

  .base-directory__link {
    width: auto;
  }
}
