.catalog-all__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.catalog-all__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.catalog-all__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;

  background-color: #f2f2f2;
}
