.catalog-all__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;
}

.catalog-all__text {
  font-size: 12px;
  line-height: 16px;
  font-family: @font;
  color: @color-text;
}

.catalog-all__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @color-text;

  background-color: @link-background-color;
}
