.product-description__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;
}

.product-description__item {
  font-size: 12px;
  line-height: 16px;
  font-family: @font;
  color: @color-text;
}
