.contact-details {
  margin-top: 42px;
  padding: 0;
  padding-bottom: 42px;

  border-top: 3px solid @border-color-decor;
}

.contact-details__header--wrapper {
  position: relative;
}

.contact-details__header {
  top: -40px;
  left: 1px;

  width: 190px;
  padding-right: 12px;
  padding-left: 18px;
}

.contact-details__wrapper {
  padding-top: 64px;
  padding-left: 18px;
}

.contact-details__email {
  position: relative;

  width: 285px;
  margin: 0;
  margin-bottom: 13px;
}

.contact-details__email-label {
  margin-right: 9px;
}

.contact-details__email-input {
  width: 219px;
}

.contact-details__email-input:active + .contact-details__icon-email .contact-details__icon-email--fill {
  fill: @icon-fill-active;
}

.contact-details__icon-email {
  position: absolute;
  top: 17px;
  right: 18px;
  z-index: 1;

  width: 18px;
  height: 14px;
}

.contact-details__phone {
  position: relative;

  width: 285px;
  margin: 0;
}

.contact-details__phone-label {
  margin-right: 6px;
}

.contact-details__phone-input {
  width: 205px;
}

.contact-details__phone-input:active + .contact-details__icon-phone .contact-details__icon-phone--fill {
  fill: @icon-fill-active;
}

.contact-details__icon-phone {
  position: absolute;
  top: 14px;
  right: 15px;
  z-index: 1;

  width: 21px;
  height: 21px;
}

.contact-details__icon-phone--fill:active {
  fill: @icon-fill-active;
}

@media (min-width: @tablet-width) {
  .contact-details {
    padding-bottom: 87px;
  }

  .contact-details__header {
    top: -61px;
    left: 30px;

    width: auto;
    padding-right: 42px;
    padding-left: 38px;
  }

  .contact-details__wrapper {
    padding-top: 85px;
    padding-left: 68px;
  }

  .contact-details__email {
    width: 768px;
    margin-bottom: 18px;
    margin-left: 3px;
  }

  .contact-details__email-label {
    margin-right: 14px;
  }

  .contact-details__email-input {
    width: 551px;
  }

  .contact-details__icon-email {
    top: 21px;
    right: 156px;
  }

  .contact-details__phone {
    width: 768px;
    margin: 0;
  }

  .contact-details__phone-label {
    margin-right: 11px;
  }

  .contact-details__phone-input {
    width: 535px;
  }

  .contact-details__icon-phone {
    top: 19px;
    right: 151px;
  }
}

@media (min-width: @desktop-width) {
  .contact-details {
    max-width: 100%;
    padding-bottom: 72px;
  }

  .contact-details__wrapper {
    display: flex;
    justify-content: space-between;

    width: 1300px;
    margin: 0 auto;
    padding-top: 86px;
    padding-left: 38px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .contact-details__header--wrapper {
    width: 1300px;
    margin: 0 auto;
  }

  .contact-details__header {
    top: -61px;
    left: 1px;
  }

  .contact-details__email {
    width: auto;
    margin-bottom: 16px;
  }

  .contact-details__email-input {
    width: 486px;
  }

  .contact-details__email-label {
    margin-right: 16px;
  }

  .contact-details__icon-email {
    top: 21px;
    right: 18px;
  }

  .contact-details__phone {
    width: auto;
  }

  .contact-details__phone-input {
    width: 472px;
  }

  .contact-details__phone-label {
    margin-right: 12px;
  }

  .contact-details__icon-phone {
    top: 18px;
    right: 18px;
  }
}
