.form__contact-details {
  border: none;
}

.form__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @label-color-text;
}

.form__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text;
}

.form__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @color-title;
}

.form__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.form__text {
  font-size: 14px;
  font-family: @font;
  line-height: 16px;
  color: @color-text;
}

.form__item {
  list-style: none;
}

.form__comment {
  border: none;
}

.form__additionally {
  border: none;
}

@media (min-width: @desktop-width) {
  .form__cat {
    display: flex;
  }
}
