.page-footer__foot-wrapper {
  position: relative;

  max-width: 100%;

  background-color: @block-background-color;
}

.page-footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 114px;
  padding: 0 24px 0 19px;
}

.page-footer__company {
  background-color: @background-color;
}

.page-footer__text {
  width: 130px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: @color-title;
}

.page-footer__address {
  width: 135px;

  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  font-weight: normal;
  font-family: @font;
  text-align: left;
  color: @color-text;
}

.page-footer__address-wrapper {
  margin: 0;
}

.page-footer__map {
  position: relative;

  max-width: 100%;
  height: 362px;
  margin: 0 auto;
  padding: 0;

  background-image: url("../img/bg-map-mobile.png");
  background-position: 0 -38px;
  background-repeat: no-repeat;
  background-size: 320px 400px;
}

.page-footer__map::before {
  position: absolute;
  content: "";
  top: 141px;
  left: 97px;
  z-index: 1;

  width: 124px;
  height: 106px;

  background-image: url("../img/map-pin.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 55px auto;
}

.page-footer__map-body {
  position: relative;
  z-index: 2;

  width: 100%;
}

.page-footer__logo {
  width: 128px;
  height: 24px;
  margin: 39px auto 31px;
}

.page-footer__logo-link:hover .page-footer__logo-image,
.page-footer__logo-link:focus .page-footer__logo-image {
  opacity: 0.8;
}

.page-footer__logo-link:active .page-footer__logo-image {
  opacity: 0.6;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: 64px;
  margin: 0 20px;
  padding: 0;
  padding-top: 19px;
  padding-left: 73px;
  padding-right: 72px;

  box-sizing: border-box;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.page-footer__social-item {
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
}

.page-footer__social .social-item__svg {
  fill: @icon-color;
}

.page-footer__social:hover .social-item__svg,
.page-footer__social:focus .social-item__svg {
  fill: @footer-button-hover;
}

.page-footer__social:active .social-item__svg {
  opacity: 0.3;
}

.page-footer__social-item--vkontakte {
  width: 22px;
  height: 12px;
}

.page-footer__social-item--instagram {
  width: 17px;
  height: 17px;
  margin-top: 3px;
}

.page-footer__social-item--facebook {
  width: 10px;
  height: 19px;
  margin-top: 3px;
  margin-left: 3px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: 78px;
  padding-left: 19px;
  padding-right: 13px;
}

.page-footer__copyright-text {
  margin-top: 24px;
}

.page-footer__copyright-link {
  font-size: 16px;
  line-height: 16px;
  font-family: @font;
  color: @color-text;
}

.page-footer__copyright-link:active {
  color: rgba(68, 68, 68, 0.3);
}

.page-footer__copyright-picture {
  margin: 0;
  padding: 0;
  margin-top: 13px;
}

.page-footer__copyright-icon .page-footer__copyright-logo {
  fill: @icon-color;
}

.page-footer__copyright-icon:hover .page-footer__copyright-logo,
.page-footer__copyright-icon:focus .page-footer__copyright-logo {
  fill: @footer-button-hover;
}

.page-footer__copyright-icon:active .page-footer__copyright-logo {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  /*  V */
  .page-footer__block {
    align-items: flex-start;

    min-height: 201px;
    padding: 0 71px 0 71px;
  }

  .page-footer__text {
    width: 154px;
    margin-top: 65px;

    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__address {
    width: 160px;
    margin-top: 63px;

    font-size: 16px;
    text-align: right;
  }

  .page-footer__address-item {
    margin-bottom: 20px;
  }

  .page-footer__map {
    height: 400px;

    background-image: url("../img/bg-map-tablet.png");
    background-position: 0 0;
    background-size: 768px 400px;
  }

  .page-footer__map::before {
    top: 150px;
    left: 322px;

    background-size: 113px auto;
  }

  .page-footer__map-body {
    height: 400px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    margin: 0;
    padding: 33px 24px 37px 31px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: 20px;
  }

  .page-footer__social-list {
    min-width: 128px;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 11px;

    border: none;
  }

  .page-footer__social-item {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .page-footer__social-item:first-child {
    margin-left: 0;
  }

  .page-footer__social-item--vkontakte {
    width: 30px;
    height: 16px;

    margin-top: 6px;
    margin-left: 1px;
  }

  .page-footer__social-item--instagram {
    width: 23px;
    height: 23px;

    margin-top: 6px;
  }

  .page-footer__social-item--facebook {
    width: 14px;
    height: 28px;

    margin-right: 3px;
  }

  .page-footer__copyright {
    width: 170px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__block {
    position: absolute;
    z-index: 3;
    top: 95px;
    left: 40px;

    width: 570px;
    padding: 0 86px 0 76px;
    box-sizing: border-box;

    background-color: @background-color;
  }

  .page-footer__text {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__address {
    text-align: left;
  }

  .page-footer__map {
    max-width: 100%;

    background-image: url("../img/bg-map-desktop.png");
    background-size: 1300px 400px;
  }

  .page-footer__map::before {
    top: 154px;
    left: 892px;
  }

  .page-footer__wrapper {
    width: 1300px;
    margin: 0 auto;
    padding: 35px 33px 35px 40px;
    box-sizing: border-box;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: 18px;
  }

  .page-footer__social-list {
    min-width: 125px;
    margin: 0;
    padding: 0;
    padding-top: 17px;
  }

  .page-footer__social-item--vkontakte {
    margin: 0;
    padding-top: 2px;
  }

  .page-footer__social-item--instagram {
    margin: 0;
    padding-top: 2px;
  }

  .page-footer__social-item--facebook {
    margin: 0;
  }

  .page-footer__social-item {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .page-footer__social-item:first-child {
    margin-left: 0;
  }

  .page-footer__copyright {
    padding-top: 2px;
  }
}
