.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  border: none;
}

.main-nav__item {
  padding: 23px 2px 18px 0;

  list-style: none;
  text-align: center;

  border-top: 1px solid @border-color;
}

.main-nav__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: @link-color-text;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: rgba(17, 17, 17, 0.6);
}

.main-nav__link:active {
  color: rgba(17, 17, 17, 0.3);
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-width: 440px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 43px;
  }

  .main-nav__item {
    margin-left: 20px;
    padding: 0;
    padding-bottom: 6px;

    border-top: none;
  }

  .main-nav__item:first-child {
    margin-left: 0;
  }

  .main-nav__item--active {
    border-bottom: 2px solid @button-background-color;
  }

  .main-nav__item-margin {
    margin-right: 2px;
  }

  .main-nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: @nav-color-text;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 479px;
  }

  .main-nav__list {
    padding-top: 74px;
  }

  .main-nav__item-index {
    border-bottom: 2px solid @light-color-text;
  }

  .main-nav__link {
    font-size: 20px;
    color: @link-color-text;
  }

  .main-nav__index-nav {
    color: @light-color-text;
  }

  .main-nav__index-nav:hover,
  .main-nav__index-nav:focus {
    color: @light-color-text;
    opacity: 60%;
  }

  .main-nav__index-nav:active {
    color: @light-color-text;
    opacity: 30%;
  }
}
