.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 100%;
  margin: 0;
  padding: 0;
}

.page-header__main-nav--close {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 30px;
  }

  .page-header__main-nav--close {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header__index {
    position: relative;
    max-width: 100%;
    height: 696px;
    margin-bottom: 80px;

    background-image: linear-gradient(to left, @button-background-color 50%, @background-color 50%);
  }

  .page-header__index::before {
    position: absolute;
    content: url("../img/index-background-desktop.jpg");
    right: 0;
    width: 650px;

    overflow: hidden;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      content: url("img/index-background-desktop@2x.jpg");
    }
  }

  .page-header__wrapper {
    width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .page-header__main-nav {
    z-index: 2;
  }
}
