.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  border: none;
}

.page-header__main-nav--close {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 30px;
  }

  .page-header__main-nav--close {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    padding-left: 87px;
    padding-right: 60px;
  }

  .page-header__main-nav--close {
    display: block;
  }
}
